
/* Header */
.header1{
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  background: black;
  padding-top: 90px;
  
}
.nav-header{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: black;
  z-index: 100;
}

.nav-menu-header ul{
  display: flex;
  padding-left: 90%;
}
.nav-menu-header ul li{
  list-style-type: none;
}
.nav-menu-header ul li .link-header{
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  padding-bottom: 15px;
  margin: 0 25px;
  
}
.link-header:hover, .active{
  border-bottom: 2px solid #fff;
}

.img-header {
  height: 50px;
  width: 150px;
  margin-top: 5px;
}
.nav-button .btn{
color: #fff;
  width: 130px;
  height: 40px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s ease;
  /* padding-top: 50px; */
  margin-bottom: 30px;
  
}

body {
  font-family: 'Montserrat';
}

/* _______________________________________________________________________________ */
/*carousel*/

.carousel-inner {
  height: 500px !important;
}


/* Estilos gerais para o corpo da página */
body {
  background-color: #000000; /* Cor de fundo do corpo */
  color: #FFF; /* Cor do texto */
}

/* Classes para diferentes cores de fundo */
.primary-bg-color {
  background-color: #252525;
}
.destaque {
  background-color: #0D0D0D;
}
.secondary-bg-color {
  background-color: #976DF2;
}
.light-bg-color {
  background-color: #FCF5EB;
}
.dark-bg-color {
  background-color: #0D0D0D;
}

/* Classes para diferentes cores de texto */
.primary-color {
  color: #976DF2;
}
.secondary-color {
  color: #F2F2F2;
}
.light-color {
  color: #FCF5EB;
}



/* ___________________________________________________________ */
/* Estilos para os banners */

/* Define espaçamento interno para o contêiner de banners */

/* .carousel-inner {
  height: 500px;
  transition: 6s;
  bottom: 5em;
  padding: 1em;
  left: 12%;
  right: 12%;
}

.carousel-item {
  height: 500px;
}
#banners-container {
  padding: 0;
}

/* Posicionamento e espaçamento para a legenda do carousel */
/* .carousel-caption {
  bottom: 5em;
  padding: 1em;
  left: 12%;
  right: 12%;
} */ 



/* Estilos para o título na legenda do carousel */

/* Media query para telas com largura mínima de 768px */
/* @media(min-width: 768px) {
  /* Ajusta altura dos itens do carousel e imagens */
  /* #slider .carousel-item,
  #slider img  {
    height: 500px;
    width: 100%;
  } */
/* } */ 

/* ___________________________________________________________________________________________________ */

/* Footer */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

body {
  font-weight: 400;
  background-color: #000;
}

.footer {
  padding: 40px 0;
  background-color: black;
}

.footer img {
  width: 15%;
  vertical-align: middle;
}

.logoF {
  text-align: center;

}

.footer p {
  color: white;
  text-align: center;
  font-size: 18px;
}
.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: white;
}

.footer .social a {
  font-size: 24px;
  color: inherit;
  border: 1.5px solid white;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  margin: 0 8px;
  border-radius: 50%;
  opacity: 0.75;
}

.footer .social a:hover {
  opacity: 0.9;
  color: #723CBC;
}

.footer ul {
  margin-top: 0;
  list-style: none;
  padding: 0;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 0;
  color: white;
  text-align: center;
}

.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer ul li a:hover {
  opacity: 1;
  color: #723CBC;
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
  color: blueviolet;
}

/* CSS dos cards */

.cartoes{
  width: 90%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
 

@media (max-width: 768px){
  .cartoes {
      flex-direction: column;
      justify-content: center;
      align-items: center;  
  }

}

.card{
  margin-bottom: 20px;
  background-color: #111;
}

.centered {
  margin-top: 3%;
  text-align: center;
  width: 100%; /* Opcional: torna o h1 ocupar toda a largura da página */
  color: #723CBC;
}

.centered:hover{
  color: #cacdd2;
}

.card-title {
  color: #723CBC;
}

.card-text {
  color: #cacdd2;
}

.card-text-preço {
  padding-bottom: 20px;
  color: #cacdd2 ;
}

.btn  {
  background-color: #743BBC;
  border-color: #723CBC;
  
}

.btn:hover{
  background-color: #111;
  border-color: #723CBC;
}


.card-img-top {
  width: 286px;
  height: 200px;
}
