
/* Header */
.header1{
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  background: black;
  padding-top: 90px;
  
}
.nav-header{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: black;
  z-index: 100;
}

.nav-menu-header ul{
  display: flex;
  padding-left: 90%;
}
.nav-menu-header ul li{
  list-style-type: none;
}
.nav-menu-header ul li .link-header{
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  padding-bottom: 15px;
  margin: 0 25px;
  
}
.link-header:hover, .active{
  border-bottom: 2px solid #fff;
}

.img-header {
  height: 50px;
  width: 150px;
  margin-top: 5px;
}
.nav-button .btn{
color: #fff;
  width: 130px;
  height: 40px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s ease;
  /* padding-top: 50px; */
  margin-bottom: 30px;
  
}

body {
  font-family: 'Montserrat';
}

/* _______________________________________________________________________________ */
/*carousel*/

.carousel-inner {
  height: 500px !important;
}


/* Estilos gerais para o corpo da página */
body {
  background-color: #000000; /* Cor de fundo do corpo */
  color: #FFF; /* Cor do texto */
}

/* Classes para diferentes cores de fundo */
.primary-bg-color {
  background-color: #252525;
}
.destaque {
  background-color: #0D0D0D;
}
.secondary-bg-color {
  background-color: #976DF2;
}
.light-bg-color {
  background-color: #FCF5EB;
}
.dark-bg-color {
  background-color: #0D0D0D;
}

/* Classes para diferentes cores de texto */
.primary-color {
  color: #976DF2;
}
.secondary-color {
  color: #F2F2F2;
}
.light-color {
  color: #FCF5EB;
}



/* ___________________________________________________________ */
/* Estilos para os banners */

/* Define espaçamento interno para o contêiner de banners */

/* .carousel-inner {
  height: 500px;
  transition: 6s;
  bottom: 5em;
  padding: 1em;
  left: 12%;
  right: 12%;
}

.carousel-item {
  height: 500px;
}
#banners-container {
  padding: 0;
}

/* Posicionamento e espaçamento para a legenda do carousel */
/* .carousel-caption {
  bottom: 5em;
  padding: 1em;
  left: 12%;
  right: 12%;
} */ 



/* Estilos para o título na legenda do carousel */

/* Media query para telas com largura mínima de 768px */
/* @media(min-width: 768px) {
  /* Ajusta altura dos itens do carousel e imagens */
  /* #slider .carousel-item,
  #slider img  {
    height: 500px;
    width: 100%;
  } */
/* } */ 

/* ___________________________________________________________________________________________________ */

/* Footer */
footer{
  position: absolute;
  bottom: 50;
  left: 0;
  right: 40px;
  background: #111;
  height: auto;
  width: 100vw;
  font-family: 'Montserrat';
  padding-top: 40px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content img{
  height: 70px;
  width: 225px;

}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.social{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.social li{
  margin: 0 10px;
}
.social a{
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;

  border-radius: 50%;

}
.social a i{
  font-size: 1.1rem;
  width: 20px;


  transition: color .4s ease;

}
.social a:hover i{
  color: #723CBC;
}

.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px;
padding-bottom: 40px;
  text-align: center;
}
.footer-bottom p{
float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a{
color: #723CBC;
font-size: 16px;
text-decoration: none;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
.footer-menu{
float: right;

}
.footer-menu ul{
display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
color: #cfd2d6;
text-decoration: none;
}
.footer-menu ul li a:hover{
color: #723CBC;
}

@media (max-width:500px) {
.footer-menu ul{
display: flex;
margin-top: 10px;
margin-bottom: 20px;
}
}

/* CSS dos cards */

.cartoes{
  width: 90%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
 

@media (max-width: 768px){
  .cartoes {
      flex-direction: column;
      justify-content: center;
      align-items: center;  
  }

}

.card{
  margin-bottom: 20px;
  background-color: #111;
}

.centered {
  margin-top: 3%;
  text-align: center;
  width: 100%; /* Opcional: torna o h1 ocupar toda a largura da página */
  color: #723CBC;
}

.centered:hover{
  color: #cacdd2;
}

.card-title {
  color: #723CBC;
}

.card-text {
  color: #cacdd2;
}

.btn  {
  background-color: #743BBC;
  border-color: #723CBC;
  
}

.btn:hover{
  background-color: #111;
  border-color: #723CBC;
}


.card-img-top {
  width: 286px;
  height: 200px;
}
