/*header*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-family: sans-serif;
}


element.style {
}
.navbar-toggler-icon {
  background-color: #743BBC
}
.navbar {
  background-color: black !important;
  height: 90px;
  margin-top: 0;
  padding-top: 0;
  z-index: 99;
}

.navbar .navbar-brand , .navbar .nav-link {
  color: #743BBC!important;
}

.bi {
  font-size: 30px;
  padding-right: 30px;
  
}

.roxo{
  color: #743BBC!important;
}


.logo {
  width: 130px;
  height: 40px;
  
}

/* respansividade do header */

@media screen and (max-width: 500px) {
  /* .collapse  ul li a   */
  #navbarSupportedContent li {
    float: none !important;
    display: block !important;
  }
}




/* _______________________________________________________________________________ */
/*carousel*/

/* Estilos gerais para o corpo da página */
body {
  background-color: #000000; /* Cor de fundo do corpo */
  color: #FFF; /* Cor do texto */
}

/* Classes para diferentes cores de fundo */
.primary-bg-color {
  background-color: #252525;
}
.destaque {
  background-color: #0D0D0D;
}
.secondary-bg-color {
  background-color: #976DF2;
}
.light-bg-color {
  background-color: #FCF5EB;
}
.dark-bg-color {
  background-color: #0D0D0D;
}

/* Classes para diferentes cores de texto */
.primary-color {
  color: #976DF2;
}
.secondary-color {
  color: #F2F2F2;
}
.light-color {
  color: #FCF5EB;
}



/* ___________________________________________________________ */
/* Estilos para os banners */

/* Define espaçamento interno para o contêiner de banners */
#banners-container {
  padding: 0;
}

/* Posicionamento e espaçamento para a legenda do carousel */
.carousel-caption {
  bottom: 5em;
  padding: 1em;
  left: 12%;
  right: 12%;
}

/* Estilos para o título na legenda do carousel */
.carousel-caption h5 {
  font-size: 1.8em;
}

/* Media query para telas com largura mínima de 768px */
@media(min-width: 768px) {
  /* Ajusta altura dos itens do carousel e imagens */
  #slider .carousel-item,
  #slider img  {
    height: 700px;
  }

  /* Ajusta posicionamento e espaçamento da legenda do carousel */
  .carousel-caption {
    left: 23%;
    right: 23%;
  }

  /* Ajusta tamanho do título na legenda do carousel */
  .carousel-caption h5 {
    font-size: 4em;
  }
}


/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #fcfcfc;
  font-family: sans-serif;
} */
/* ___________________________________________________________________________________________________ */
/* Footer */



footer{
  position: absolute;
  bottom: 50;
  left: 0;
  right: 40px;
  background: #111;
  height: auto;
  width: 100vw;
 
  padding-top: 40px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content img{
  height: 70px;
  width: 225px;

}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.social{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.social li{
  margin: 0 10px;
}
.social a{
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;

  border-radius: 50%;

}
.social a i{
  font-size: 1.1rem;
  width: 20px;


  transition: color .4s ease;

}
.social a:hover i{
  color: #723CBC;
}

.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px;
padding-bottom: 40px;
  text-align: center;
}
.footer-bottom p{
float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a{
color: #723CBC;
font-size: 16px;
text-decoration: none;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
.footer-menu{
float: right;

}
.footer-menu ul{
display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
color: #cfd2d6;
text-decoration: none;
}
.footer-menu ul li a:hover{
color: #723CBC;
}

@media (max-width:500px) {
.footer-menu ul{
display: flex;
margin-top: 10px;
margin-bottom: 20px;
}
}

/* CSS dos cards */

.cartoes{
  width: 90%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}


@media (max-width: 768px){
  .cartoes {
      flex-direction: column;
      justify-content: center;
      align-items: center;  
  }

}

.card{
  margin-bottom: 20px;
  background-color: #111;
}

.card-title {
  color: #723CBC;
}

.card-text {
  color: #cacdd2;
}

.btn  {
  background-color: #743BBC;
  border-color: #723CBC;
  
}

.btn:hover{
  background-color: #111;
  border-color: #723CBC;
}


.card-img-top {
  width: 286px;
  height: 200px;
}
