/* HEADER */
.header1{
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  background: black;
  padding-top: 90px;
  
}
.nav-header{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: black;
  z-index: 100;
}

.nav-menu-header ul{
  display: flex;
  padding-left: 90%;
}
.nav-menu-header ul li{
  list-style-type: none;
}
.nav-menu-header ul li .link-header{
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  padding-bottom: 15px;
  margin: 0 25px;
  
}
.link-header:hover, .active{
  border-bottom: 2px solid #fff;
}

.img-header {
  height: 50px;
  width: 150px;
  margin-top: 23px;
}
.nav-button .btn{
color: #fff;
  width: 130px;
  height: 40px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s ease;
  /* padding-top: 50px; */
  margin-bottom: 30px;
  
}

body {
  font-family: 'Montserrat';
}

